In [1]:
# library import

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import AgglomerativeClustering, KMeans

In [2]:
# reading data from csv file

df = pd.read_csv('./MuhammadOwais_Imran_NYNJ_zipcode_population.csv')
print(f'Shape: {df.shape}')

df.head()

Shape: (556, 5)

   STATEFIPS STATE  zipcode  Low_income  Total_Pop
0         34    NJ     7002       35.31      31780
1         34    NJ     7029       38.40       9140
2         34    NJ     7030       12.60      29050
3         34    NJ     7032       38.40      18880
4         34    NJ     7047       42.16      29200

In [3]:
# dropping the target coloum
target = df['STATE']
df.drop(columns=['STATE', 'STATEFIPS', 'zipcode'], inplace=True)
df.shape

(556, 2)

In [4]:
# scaling the data using MinMax Scaler (enable if needed)
scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [5]:
num_clusters = 5
kmeans = KMeans(n_clusters=num_clusters, random_state=12, n_init=10)
kmeans.fit(df)
labels = kmeans.labels_
centers = kmeans.cluster_centers_

df_cluster=pd.DataFrame({'Actual':target,'Cluster':labels})
# Create a cross-tabulation
cross_tab = pd.crosstab(df_cluster['Actual'], df_cluster['Cluster'])

print(cross_tab)
df['Actual_cluster'] = target
df['Predicted_cluster'] = labels

df.head()

Cluster    0   1   2   3    4
Actual
NJ         3   5   3   3    2
NY       118  58  60  63  241

   Low_income  Total_Pop Actual_cluster  Predicted_cluster
0    0.447245   0.588848             NJ                  1
1    0.486384   0.168030             NJ                  0
2    0.159595   0.538104             NJ                  2
3    0.486384   0.349071             NJ                  3
4    0.534009   0.540892             NJ                  1