In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#Read the data in and remove any missing values
#Remove any row with a missing value in any of the columns.
filename='C:/Users/kdehn/OneDrive - stevens.edu/___Data/CSV_files/breast-cancer-wisconsin.csv'
nan_values=['?']
att_type={' Sample': 'str', 'Class':'category'}

df=pd.read_csv(filename,dtype=att_type,na_values=nan_values)

print(df[df.isna().any(axis=1)])

print(df.shape)
print(df.isnull().sum())
print()
df.dropna(inplace=True)
df['F6'] = df['F6'].astype('int64')

print(f"shape : {df.shape}")
print(df.isnull().sum())
# print(df.describe())
# df.head()

      Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9 Class
23   1057013   8   4   5   1   2 NaN   7   3   1     4
40   1096800   6   6   6   9   6 NaN   7   8   1     2
139  1183246   1   1   1   1   1 NaN   2   1   1     2
145  1184840   1   1   3   1   2 NaN   2   1   1     2
158  1193683   1   1   2   1   3 NaN   1   1   1     2
164  1197510   5   1   1   1   2 NaN   3   1   1     2
235  1241232   3   1   4   1   2 NaN   3   1   1     2
249   169356   3   1   1   1   2 NaN   3   1   1     2
275   432809   3   1   3   1   2 NaN   2   1   1     2
292   563649   8   8   8   1   2 NaN   6  10   1     4
294   606140   1   1   1   1   2 NaN   2   1   1     2
297    61634   5   4   3   1   2 NaN   2   3   1     2
315   704168   4   6   5   6   7 NaN   4   9   1     2
321   733639   3   1   1   1   2 NaN   3   1   1     2
411  1238464   1   1   1   1   1 NaN   2   1   1     2
617  1057067   1   1   1   1   1 NaN   1   1   1     2
(699, 11)
Sample     0
F1         0
F2         0
F3         0
F4         0
F5         0
F6        16
F7         0
F8         0
F9         0
Class      0
dtype: int64

shape : (683, 11)
Sample    0
F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
Class     0
dtype: int64

In [3]:
print(df.dtypes)
df.head()

Sample       int64
F1           int64
F2           int64
F3           int64
F4           int64
F5           int64
F6           int64
F7           int64
F8           int64
F9           int64
Class     category
dtype: object

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9 Class
0  1000025   5   1   1   1   2   1   3   1   1     2
1  1002945   5   4   4   5   7  10   3   2   1     2
2  1015425   3   1   1   1   2   2   3   1   1     2
3  1016277   6   8   8   1   3   4   3   7   1     2
4  1017023   4   1   1   3   2   1   3   1   1     2

In [4]:
# Splitting the dataset
attr = df.drop(columns = ['Class','Sample'])  # features
target = df['Class']  # target variable
# attr.head()
# target.head()
attr_train, attr_test, target_train,target_test  = train_test_split(attr, target,test_size = 0.25, random_state = 44, shuffle = True)
target_train.head()
# attr_train.head()
target_test.head()

579    2
529    2
596    2
90     2
347    2
Name: Class, dtype: category
Categories (2, object): ['2', '4']

In [5]:
from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import accuracy_score

GNB = GaussianNB()
GNB.fit(attr_train, target_train)
target_pred = GNB.predict(attr_test)
accuracy = accuracy_score(target_test,target_pred ) 
print(f'Accuracy of model {accuracy}%')
print('')

Accuracy of model 0.9649122807017544%

In [6]:
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import accuracy_score

MNB = MultinomialNB()
MNB.fit(attr_train, target_train)
target_pred = MNB.predict(attr_test)
accuracy = accuracy_score(target_test,target_pred ) 
print(f'Accuracy of model {accuracy}%')
print('')

Accuracy of model 0.8947368421052632%